---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.scss';
import {SITE_TITLE, FAVICON_SRC, TWITTER} from "../consts";

interface Props {
	title: string;
	description: string;
	image?: string;
  article?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/author.jfif', article=false } = Astro.props;
console.log(Astro.url);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={FAVICON_SRC} />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{article ? 'article' : 'website'}" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:locale" content="ja-JP" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={Astro.url.host} />
<meta property="twitter:site" content={TWITTER} />
<meta property="twitter:creator" content={TWITTER} />

<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=G-H23Y23RMK1"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-H23Y23RMK1");
</script>

<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6690868515240304"
  crossorigin="anonymous"></script>
